# Backend
backend/node_modules/
backend/.env
backend/.env.*
backend/dist/
backend/coverage/

node_modules/
.env
.env.*
.DS_Store

# Frontend
frontend/dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Internal Docs
AI_FEATURES_DOCUMENTATION.md
